
<div id="profile">


<h2>Contacts</h2>



<div class="list-group">
  {{#each contacts}}

  <a href="/contact/{{this._id}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{this.name}}</h5>
      
    </div>
        {{#each this.specialOccasions}}
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1"><b>Event: </b>{{this.name}}</p>
          <small class="text-muted">{{this.date}}</small>
        </div>
            
        {{/each}}
    
 
    <form action="/contact/delete/{{this._id}}" method="POST">
            <div class="d-flex flex-row-reverse">
              <button class="btn bg-danger text-white">Delete Contact</button>
            </div>
          </form>
  </a>
  {{/each}}
</div>
</div>